/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customize your global styles here */

.carousel-slide-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  overflow: hidden; /* Ensures content stays within bounds */
}
